<style>
  body {
    background: url("/images/creator1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class=f lex-container-game>
  <h2>Step 2 - Add task</h2>

  <form action="/creator/{{id}}/edit-task/{{task._id}}" method="post" id="form-container-game">

    <input type="text" name="title" value="{{task.title}}">
    <input type="text" id="location" name="location" value="{{task.location}}">

    <select name="taskType" value="{{task.taskType}}">
      <option value="text">Text</option>
      <option value="photo">Photo</option>
      <option value="video">Video</option>
      <option value="audio">Audio</option>
    </select>


    <textarea rows="4" cols="50" name="description">{{task.description}}</textarea>

    <button type="submit">Update</button>
    <a href="/creator/tasks-overview/{{id}}"><button class="btn-next">Cancel</button></a>
  </form>

</div>