<h1>Step 2 - Add task</h2>

<form action="/creator/edit-task/{{id}}" method="post">

<input type="text" name="title" value="{{this.title}}">
<input type="text" name="location" value="{{this.location}}">

<select name="taskType" value="{{this.taskType}}">
  <option value="text">Text</option>
  <option value="photo">Photo</option>
  <option value="video">Video</option>
  <option value="audio">Audio</option>
</select>


<textarea rows="4" cols="50" name="description" value="{{this.description}}">
Put your game description here.
</textarea>

<button type="submit">Update</button>
<a href="/creator/tasks-overview/{{id}}"><button>Cancel</button></a>
</form>


