<h1>Step 2 - Add task</h2>

<form action="/creator/{{id}}/edit-task/{{task._id}}" method="post">

<input type="text" name="title" value="{{task.title}}">
<input type="text" name="location" value="{{task.location}}">

<select name="taskType" value="{{task.taskType}}">
  <option value="text">Text</option>
  <option value="photo">Photo</option>
  <option value="video">Video</option>
  <option value="audio">Audio</option>
</select>


<textarea rows="4" cols="50" name="description">
{{task.description}}
</textarea>

<button type="submit">Update</button>
<a href="/creator/tasks-overview/{{id}}"><button>Cancel</button></a>
</form>


