<style>
  body {
    background: url("/images/creator1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="flex-container-game">

  <form action="/creator/{{id}}/edit-task/{{task._id}}" method="post" id="form-container-game">
    <h2>Edit task</h2>
    <input class="input-style" type="text" name="title" value="{{task.title}}">
    <input class="input-style" type="text" id="location" name="location" maxlength=10 value="{{task.location}}">
    <textarea class="input-style" rows="4" cols="50" name="description">{{task.description}}</textarea>
    <button class="btn-next" type="submit">Update</button>
    <a href="/creator/tasks-overview/{{id}}"><button class="btn-next">Cancel</button></a>
  </form>

</div>