<style>
  body {
    background: url("/images/creator1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="flex-container-game fade-in" id="form-container-game">
  <h2>{{title}}</h2>
  <h3>All tasks</h3>
  <a href="/creator/{{id}}/add-task"><button class="btn-game-details">Add task</button></a>
  <form action="/creator/{{id}}/save-order" method="POST">
    {{#each tasks}}
    <h3>{{this.title}}</h3>
    <label class="order-label" for="{{this.id}}">Order*</label>
    <input class="order-input" type="number" id="order" name="{{this.id}}" value="{{this.order}}" min="1">
    <br><br>
    <a href="/creator/{{../id}}/edit-task/{{this._id}}"><button class="btn-game-details">Edit</button></a>
    <a href="/creator/{{../id}}/delete-task/{{this._id}}"><button class="btn-game-details">Delete</button></a>
    <br><br> {{/each}}
    <button class="btn-game-details" type="submit">Save order</button>
  </form>
  <br><br>
  <a href="/creator/invite-friends"><button class="btn-game-details">Invite friends</button></a>



</div>