<h2>Game name</h2>

<h3>All tasks</h3>

<a href="/creator/{{id}}/add-task"><button>Add task</button></a>

{{#each tasks}}
<p>{{this.title}}</p> 
<a href="/creator/{{../id}}/edit-task/{{this._id}}"><button>Edit</button></a>
<a href="/creator/{{../id}}/delete-task/{{this._id}}"><button>Delete</button></a>
{{/each}}
