
<p>{{task.title}}</p>
<p>{{task.description}}</p>


<form action="/player/{{game._id}}/player-task/{{taskOrder}}" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" id="upload">
  <br>
  <button type="submit" value="save">Submit</button>
</form>

<a href="/player/{{game._id}}/player-task/{{taskOrder}}"><button>Next</button></a>