<style>
  body {
    background: url("/images/creator2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="container">
  <div class="flex-game-code fade-in">
    <h1 class="header-margin">Your Games</h1>
    <form action="/player/find-game" method="POST">
      <input type="text" name="code" id="enter-code" placeholder="Enter game code">
      <button type="submit" class="btn-game-code">Enter</button>
    </form>
    {{#if message}}
    <div class="error-message">{{message}}</div>
    {{/if}} {{#each user.games}}
  </div>

  <div class="fade-in">

    <a href="/player/game/{{this._id}}" class="animate-link">
      <button class="title-desc-section">
        <div>{{this.title}}</div>
        <div id="small-text">{{this.description}}</div>
      </button>


      <a href="/player/game/{{this._id}}/delete-game"><class="title-desc-section" button>Delete</button></a>
    </a>
    {{/each}}
    <h1 class="header-margin flex-game-code">Suggested games</h1> {{#each games}}
    <a href="/player/game/{{this._id}}" class="animate-link">
      <button class="title-desc-section">
        <div>{{this.title}}</div>
        <div id="small-text">{{this.description}}</div>
      </button>
    </a>
    {{/each}}
  </div>