<style>
  body {
    background: url("/images/player2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="flex-container-col fade-in">
  <h3>Your Private games</h3>

  <form action="/player/find-game" method="POST">
    <input type="text" name="code" id="enter-code" placeholder="Enter game code">
    <button type="submit">Enter</button>
  </form>

  {{#if message}}
  <div class="error-message">{{message}}</div>
  {{/if}} {{#each user.games}}
  <a href="/player/game/{{this._id}}">{{this.title}}</a>
  <p>{{this.description}}</p>
  <br><br> {{/each}}

</div>

<!--
<h3>Suggested games</h3><br><br> {{#each game}}
<h2> <a href="/player/game/{{this.id}}"> Title: {{this.title}}</a></h2>
{{/each}}

-->