<style>
  body {
    background: url("/images/player2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="container">
  <div class="flex-game-code fade-in">
    <h1>Your Private games</h1>
    <form action="/player/find-game" method="POST">
      <input type="text" name="code" id="enter-code" placeholder="Enter game code">
      <button type="submit" class="btn-game-code">Enter</button>
    </form>
  </div>

  <div class="flex-player-overview fade-in">

    {{#if message}}
    <div class="error-message">{{message}}</div>
    {{/if}} {{#each user.games}}

    <a href="/player/game/{{this._id}}" class="animate-link">
      <button class="title-desc-section">
        <div>{{this.title}}</div>
        <div id="small-text">{{this.description}}</div>
      </button>
    </a>
    {{/each}}
  </div>
</div>

<!--
<h3>Suggested games</h3><br><br> {{#each game}}
<h2> <a href="/player/game/{{this.id}}"> Title: {{this.title}}</a></h2>
{{/each}}

-->